body{   
    background-color: rgb(251, 157, 157);
   }
@media screen and (max-width:800px) {
    body{
        background-image: linear-gradient(90deg,rgba(3,0, 2, 0.2),rgba(3, 0,0, 0.2),rgba(0,0, 4, 0.2));
    }
    .container{
        height: 30%;
        width: 35%;
    }
}
@media screen and (max-width:600px){
    body{
        background-color: rgba(36, 230, 36, 0.3);
    }
    .container{
        height: 50%;
        width: 50%;
    }
}

@media screen and (max-width:200px){
    body{
        background-color: rgba(234, 121, 187, 0.5);
    }
    .container{
        height: 50%;
        width: 50%;
    }
}

/* @media screen and (max-width:1000px){
    body{
        background-color: teal;
    }
    .container{
        height: 50%;
        width: 30%;
    }
} */
/* @media screen and (max-width:1200px){
    body{
        background-color:darkred;
    }
    .container{
        height: 50%;
        width: 20%;
    }
} */